// Color variables
$primary-color: #f8f8f8;
$primary-dark-color: #000;
$accent-color: #df4e3c;
$heading-color: #aeaeae;
$text-color: #8d8d8d;
$validation-color: #507a36;
$error-color: #ff2307;

// Fonts
$font-inter: "Inter", sans-serif;
$font-noto: "Noto Sans", sans-serif;
$font-poppins: "Poppins", sans-serif;
